.user-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.user-content__blocks {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
}
.user-content__image-block {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-image {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    transition-duration: 0.7s;
}
.light-color {
    color: rgb(221,221,221);
}
.dark-color {
    color: rgb(19,16,16);
}
.user-image-dark:hover {
    border: 2px solid rgb(221,221,221)
}
.user-image-light:hover {
    border: 2px solid rgb(19,16,16)
}
.user-content__info-block {
    width: 40%;
    height: 100%;
}
.user-content__config {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.user-content__config-block {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-content__config-title {
    font-size: 2vh;
    color: rgb(221,221,221);
}
.config-block__parameter {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.parameter {
    width: 90%;
    height: 15%;
    margin: 20px;
    border: 2px solid rgb(221,221,221);
    border-radius: 8px;
    transition-duration: 0.4s;
}
.parameter-dark {
    border: 2px solid rgb(221,221,221);
}
.parameter-light {
    border: 2px solid rgb(19,16,16);
}
.parameter-title {
    font-size: 1.7vh;
    color: rgb(221,221,221);
    margin: 10px;
    transition-duration: 0.4s;
}
.dark-title {
    color: rgb(19,16,16);
}
.light-title {
    color: rgb(221,221,221)
}