.project-content__info {
    width: 90%;
    height: 30vh;
    border-radius: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.info-light {
    background-color: rgb(199,199,199);
    color: rgb(19, 16, 16);
}
.info-dark {
    background-color: rgb(19, 16, 16);
    color: rgb(221,221,221);
}
.project-content__text {
    font-size: 1.5vh;
    width: 90%;
}
.text-description {
    height: 70%;
}