.apartment-content__info-block {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.info-text {
    font-size: 1.7vh;
    margin: 5px;
    color: rgb(221,221,221);
    text-align: left;
    padding: 5px;
    width: 100%;
}
.info-text__border-bottom-dark {
    border-bottom: 2px solid rgb(19,16,16);
}
.info-text__border-bottom-light {
    border-bottom: 2px solid rgb(221,221,221);
}