.apartment-content__image-block {
    width: 40%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image {
    width: 65%;
    height: 65%;
    border-radius: 12px;
}