.comment-block {
    height: 10%;
    min-height: 70px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(29, 27, 27);
    background-color: #1b1919;
    border-radius: 8px;
    margin: 10px;
}
.comment-block__user {
    height: 15%;
    width: 80%;
    font-size: 2vh;
    text-align: left;
    color: rgb(221,221,221);
}
.comment-block__data {
    height: 85%;
    width: 80%;
    word-wrap: break-word;
    font-size: 1.4vh;
    text-align: left;
    color: rgb(221,221,221);
}