.size-button {
    margin: 20px;
    background-color: transparent;
    transition-duration: 0.4s;
    cursor: pointer;
}
.size-button:hover {
    background-color: rgb(35, 21, 92);
    color: white;
}

.size-button-m {
    width: 40%;
    height: 15%;
    min-height: 50px;
    text-indent: 10px;
    border: 1px solid rgb(35, 21, 92);
    border-radius: 16px;
    color: rgb(35,21,92);
    outline: 0;
}

.size-button-l {
    width: 50%;
    height: 20%;
    min-height: 50px;
    text-indent: 10px;
    border: 1px solid rgb(35, 21, 92);
    border-radius: 20px;
    color: rgb(35,21,92);
    outline: 0;
}
.size-button-default {
    width: 20%;
    height: 20%;
    min-height: 50px;
    text-indent: 10px;
    border: 1px solid rgb(35, 21, 92);
    border-radius: 20px;
    outline: 0;
}