.size {
    margin: 20px;
}

.size-m {
    width: 40%;
    height: 15%;
    min-height: 50px;
    text-indent: 10px;
    border: 1px solid rgb(29, 27, 27);
    border-radius: 16px;
    outline: 0;
}

.size-l {
    width: 50%;
    height: 20%;
    min-height: 50px;
    text-indent: 10px;
    border: 1px solid rgb(29, 27, 27);
    border-radius: 20px;
    outline: 0;
}
.size-default {
    width: 20%;
    height: 20%;
    min-height: 50px;
    text-indent: 10px;
    border: 1px solid rgb(29, 27, 27);
    border-radius: 20px;
    outline: 0;
}