.companies-block {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 18px;
    grid-row-gap: 20px;
    justify-items: center;
    align-items: center;
}
.favorite-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}