.main-login__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.error {
    font-size: 2vh;
    color:  transparent;
    transition-duration: 0.4s;
}
.error-true {
    color: darkred !important;
}