.apartment-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.apartment-content__title {
    font-size: 2vh;
    color: rgb(221,221,221);
    width: 100%;
    text-align: center;
}
.apartment-content__info {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(19,16,16);
    border-radius: 20px;
    min-height: 70vh;
    margin: 20px;
}
.apartment-content__image-block {
    width: 40%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image {
    width: 65%;
    height: 65%;
    border-radius: 12px;
}
.apartment-content__info-block {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}