.admin-create {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 12px;
}
.admin-link__dark {
    text-decoration: none;
    padding: 5px;
    border-bottom: 2px solid transparent;
    transition-duration: 0.4s;
}
.admin-link__dark:hover {
    text-decoration: none;
    border-bottom: 2px solid rgb(19,16,16);
}
.admin-link__light {
    text-decoration: none;
    padding: 5px;
    border-bottom: 2px solid transparent;
    transition-duration: 0.4s;
}
.admin-link__light:hover {
    text-decoration: none;
    border-bottom: 2px solid rgb(221,221,221);
}