.project-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.project-content__title {
    font-size: 3vh;
    color: rgb(221,221,221)
}
.project-content__apartment {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.no-apartments__text {
    font-size: 2vh;
    color: rgb(221, 221, 221)
}